
<!-- The Modal -->
<div id="modalPrvPlc" #modalPrvPlc class="modalPrvPlc"  style="overflow: auto; height: 100%;">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <h3 class="modal-title modal_title" id="mdl-prvplc">Política de protección de datos</h3>
      <button type="button" class="close" aria-label="Close" (click)="closeModalPP()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

    <div class="modal-body">
      <form >
        <div class="container">
          <textarea rows="15" disabled>
            TRATAMIENTO DE DATOS DE CARÁCTER PERSONAL

            En E PROCESS MED, S.L. nos preocupamos por los datos de carácter personal que tratamos y por el exacto cumplimiento de la normativa vigente en materia de protección de datos de carácter personal, entre otras, el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE.

            De acuerdo con ello, se informa de las siguientes cuestiones relativas a los tratamientos de datos de carácter personal que realizamos en E PROCESS MED, S.L.:

            ¿Quién es el responsable del tratamiento de sus datos personales?

            Identidad: E PROCESS MED, S.L.

            NIF: B01564764

            Dirección postal: Calle Albert Einstein, nº 15 – Of. 207 BIC Araba – 01510 de Miñano (Álava)

            Teléfono: 689 02 33 11

            Correo electrónico: dpo@e-processmed.com.

            Principios relativos al tratamiento

            En el tratamiento de datos personales que se realiza en el mismo se respetan los principios exigidos por el Reglamento (UE) 2016/679 del Parlamento Europeo y del Consejo de 27 de abril de 2016 relativo a la protección de las personas físicas en lo que respecta al tratamiento de datos personales y a la libre circulación de estos datos y por el que se deroga la Directiva 95/46/CE (en adelante, RGPD):

            Principio de licitud, lealtad y transparencia: los datos que recogemos son tratados de forma lícita, leal y transparente, con el previo consentimiento de los interesados cuando fuera necesario o, en su caso, para la ejecución de un contrato en el que el interesado es parte o para la aplicación a petición de este de medidas precontractuales, o bien, si el tratamiento es necesario para el cumplimiento de una obligación legal aplicable o para la satisfacción de intereses legítimos perseguidos por el responsable o por un tercero, siempre que sobre dichos intereses no prevalezcan los intereses o los derechos y libertados fundamentales del interesado que requieran la protección de datos personales, en particular cuando el interesado sea un niño.
            Principio de limitación de la finalidad: los datos personales que tratamos se utilizan para las finalidades indicadas en el apartado “¿Con qué finalidad utilizamos sus datos personales”.
            Principio de minimización de datos: de acuerdo con este principio, los únicos datos personales que recabamos de los usuarios son los estrictamente necesarios para gestionar la relación contractual o para poder atender las consultas, sugerencias y /o solicitudes de información que nos realizan.
            Principio de exactitud: los datos personales que recabamos se mantendrán exactos y, si fuera necesario, actualizados. Para ello, en caso de que se produzca algún cambio de datos personales el usuario nos lo deberá comunicar de forma que podamos realizar la oportuna actualización.
            Principio de limitación del plazo de conservación: los datos personales que tratamos se conservarán durante los plazos indicados en el apartado “¿Durante cuánto tiempo conservaremos sus datos personales?”.
            Principio de integridad y confidencialidad: para respetar este principio, los datos personales serán tratados de forma que se garantice una seguridad adecuada de los mismos, incluida la protección contra el tratamiento no autorizado o ilícito y contra su pérdida, destrucción o daño accidental, aplicando para ello las medidas técnicas y organizativas apropiadas.
            ¿Con qué finalidad utilizamos sus datos personales?

            Los datos personales que recabamos a través del formulario de contacto o de la dirección de correo electrónico habilitada para contactar con nosotros, se utilizan para gestionar y dar respuesta a las consultas, sugerencias o solicitudes de información que realizan los interesados.

            ¿Cuál es la legitimación para el tratamiento de sus datos personales?

            La base legal o jurídica para el tratamiento de los datos personales que nos facilitan los interesados al cumplimentar el formulario o enviarnos un correo electrónico es el consentimiento prestado al contactar con nosotros a través del mismo y, por tanto, la necesidad de dicho tratamiento para atender y responder a la solicitud de contacto que nos realiza.

            ¿Cómo hemos obtenido sus datos personales?

            Todos los datos personales que tratamos en E PROCESS MED, S.L. nos los proporcionan los propios interesados o sus representantes legales.

            Los datos personales que obtenemos en este sitio web han sido recopilados a través del formulario de contacto o bien mediante la dirección de correo electrónico habilitada para establecer contacto con nosotros.

            ¿A qué destinatarios se comunicarán sus datos personales?

            Los datos personales no se comunicarán a terceros salvo que sea necesario para el cumplimiento de obligaciones legales.

            ¿Durante cuánto tiempo conservaremos sus datos personales?

            Datos recabados a través del formulario de contacto: los datos personales que nos proporcionan los usuarios al rellenar el formulario de contacto o enviarnos un correo electrónico se conservarán únicamente durante la gestión de las solicitudes que nos realizan de tal forma que, una vez finalizada su tramitación, se procederá a su supresión.

            Datos de usuarios de nuestros perfiles en redes sociales: los plazos de conservación de los datos personales de nuestros seguidores en redes sociales dependen de las políticas de cada red social, si bien nosotros los trataremos únicamente hasta que dejan de seguirnos.

            ¿Cuáles son sus derechos cuando nos facilita sus datos personales?

            Derecho a solicitar el acceso a sus datos personales: con el fin de conocer y verificar la licitud del tratamiento, usted podrá solicitarnos en cualquier momento confirmación de si E PROCESS MED, S.L. está tratando sus datos de carácter personal y, en tal caso, le informaremos, entre otras cuestiones, sobre qué datos estamos tratando, su finalidad, origen de los datos, plazo previsto de conservación de los datos y, en su caso, destinatarios o categorías de destinatarios.
            Derecho a solicitar su rectificación: usted podrá solicitarnos la rectificación de los datos personales que sean inexactos o que completemos los que sean incompletos, inclusive mediante una declaración adicional. En tal caso deberá indicar en su solicitud a qué datos se refiere y la corrección que haya de realizarse, debiendo acompañar, en su caso, la documentación justificativa de la inexactitud o carácter incompleto de los datos objeto de tratamiento.
            Derecho a solicitar su supresión (“derecho al olvido”): usted puede solicitarnos que sus datos personales se supriman y dejen de tratarse si ya no son necesarios para los fines para los que fueron recogidos o tratados de otro modo, retire su consentimiento, hayan sido tratados ilícitamente o deban ser suprimidos para el cumplimiento de una obligación legal.
            Derecho a solicitar la limitación del tratamiento de sus datos personales: en este caso E PROCESS MED, S.L. únicamente conservará sus datos personales para la formulación, el ejercicio o la defensa de reclamaciones, o con miras a la protección de los derechos de otra persona física o jurídica o por razones de interés público importante.
            Derecho a la portabilidad de sus datos personales: puede solicitarnos que le entreguemos sus datos personales, a usted o a otro responsable que usted nos indique, en un formato estructurado, de uso común y lectura mecánica.
            Derecho a oponerse al tratamiento: E PROCESS MED, S.L. dejará de tratar sus datos personales en la forma que usted indique, salvo que tengamos que seguir tratándolos por motivos legítimos imperiosos o para la formulación, el ejercicio o la defensa de posibles reclamaciones.
            Cómo ejercer sus derechos de protección de datos: para ejercer sus derechos debe enviarnos una solicitud por escrito dirigida a E PROCESS MED, S.L. en calle Albert Einstein, nº 15 – Of. 207 BIC Araba C.P. 01510 de Miñano (Álava) o enviando un correo electrónico a dpo@e-processmed.com, acompañando en todo caso fotocopia de su DNI.

            E PROCESS MED, S.L. responderá todas las solicitudes en los plazos y condiciones que exige la normativa vigente en materia de protección de datos de carácter personal.

            Cómo presentar una reclamación ante la Agencia Española de Protección de Datos: si usted considera que no hemos tratado adecuadamente sus datos personales o que no hemos atendido debidamente en el ejercicio de sus derechos de protección de datos, puede presentar una reclamación ante la Agencia Española de Protección de Datos, bien a través de su sede electrónica o en su domicilio, en calle Jorge Juan, nº 6, C.P. 28001 de Madrid.

            Más información sobre los derechos de protección de datos y reclamaciones ante la Autoridad de control en www.aepd.es.

            Seguridad

            De acuerdo a lo dispuesto en el artículo 32 del RGPD, E PROCESS MED, S.L. ha adoptado las medidas técnicas y organizativas apropiadas para garantizar un nivel de seguridad adecuado al riesgo.

            A fin de evaluar la adecuación del nivel de seguridad se han tenido particularmente en cuenta los riesgos que presenta el tratamiento de datos, en particular como consecuencia de la destrucción, pérdida o alteración accidental o ilícita de datos personales transmitidos, conservados o tratados de otra forma, o la comunicación o acceso no autorizado a dichos datos.

            Deber de secreto

            E PROCESS MED, S.L. ha adoptado medidas para garantizar que cualquier persona que actúe bajo su respectiva autoridad y tenga acceso a los datos personales que nos facilitan los usuarios, sólo puedan tratarlos siguiendo instrucciones de la empresa, debiendo además guardar el correspondiente secreto profesional sobre los mismos, que tendrá una duración indefinida.

            A tal efecto, nuestros empleados han firmado un documento de confidencialidad y deber de secreto respecto a la información y los datos personales que tratan con ocasión de la relación laboral existente con la empresa.

            Uso de la web por menores de edad

            Rogamos a los usuarios lean las políticas de uso de web por menores de edad que hemos publicado en el “Aviso legal” de nuestro sitio web.

            Redes sociales

            Perfiles en redes sociales: E PROCESS MED, S.L. tiene perfiles en algunas de las principales redes sociales que existen en la actualidad, de tal forma que podrá producirse un tratamiento de datos de carácter personal de nuestros seguidores, de personas que aparezcan en las publicaciones que hacemos (por ejemplo, fotografías) y de personas que nos envíen mensajes privados.

            Tratamientos de datos y finalidad: los tratamientos de datos que E PROCESS MED, S.L. llevará a cabo están limitados y condicionados a las políticas y funcionalidades de cada red social.

            Cuando un usuario se hace seguidor nuestro en una red social autoriza a que sus datos personales los utilicemos únicamente en el ámbito de la red social correspondiente para la gestión de nuestra página o perfil y de las comunicaciones que mantengamos de forma bidireccional con nuestros seguidores a través del chat, mensajes u otros medios de comunicación que permita la Red Social actualmente y en el futuro. Ello implica que tendremos acceso a la información de su perfil que aparece en el comentario, por ejemplo y sin carácter limitativo, a su nombre de usuario, imagen (en caso de que el usuario haya puesto una fotografía en su perfil), y comentarios realizados.

            También queremos informar de que, cuando un usuario se hace seguidor nuestro, las noticias que publiquemos podrán aparecer también en su muro y que, si hace comentarios en el nuestro, será accesible por los demás seguidores tanto su comentario como el nombre de su perfil y, en su caso, la fotografía que tenga en el mismo. En todo caso, es responsabilidad del usuario el uso que haga de la Red Social.

            No utilizaremos los datos personales de los usuarios para finalidades diferentes a las señaladas en párrafos anteriores ni para enviarles información a través de un entorno diferente de la red social.

            Salvo que el interesado presta su consentimiento o nos lo solicite para atender alguna solicitud que nos realice, no extraeremos sus datos personales del entorno de la red social.

            Derechos de protección de datos: respecto a los derechos de acceso, rectificación o supresión, limitación del tratamiento, oposición y portabilidad sobre sus datos personales sólo podemos actuar conforme a las posibilidades que al efecto permita cada red social. E PROCESS MED, S.L. prestará toda la ayuda posible al interesado para que pueda ejercer los citados derechos.

            En todo caso, cualquier seguidor nuestro podrá darse de baja de nuestra página o perfil en cualquier momento de forma que ya no tendríamos acceso a sus datos personales, si bien la red social podrá conservar los comentarios que previamente hayan realizado en nuestro muro.

            En todo caso, es responsabilidad del usuario el uso que haga de la Red Social, por lo que E PROCESS MED, S.L. no asume ningún tipo de responsabilidad al respecto.

            Cookies

            Las cookies son ficheros de texto de pequeño tamaño que se almacenan en el disco duro o en la memoria del ordenador que accede o visita las páginas de determinados sitios web, de forma que se puedan conocer las preferencias del usuario al volver a conectarse. Las cookies almacenadas en el disco duro del usuario no pueden leer los datos contenidos en él, acceder a información personal ni leer las cookies creadas por otros proveedores.

            Ver información sobre las cookies utilizadas en este sitio web en el apartado “Política de cookies”.

            COMPROMISO DE CONFIDENCIALIDAD Y DE NO IDENTIFICACIÓN DE DATOS

            Tanto el director ejecutivo de la empresa eProccesmed; Sebastián Armijos, como el grupo de investigación principal del proyecto, se comprometen a mantener la confidencialidad de los datos del estudio /titulado “Diagnóstico y seguimiento telemático mediante una herramienta digital y por profesionales sanitarios en casos de COVID19 (D&S-COVID19)”, y a NO realizar actividades de re-identificación.
          </textarea>
        </div>
      </form>
    </div>

    <div class="form-check">
      <div style="display: inline-flex;">
        <input class="form-check-input check_input" type="checkbox" id="chck_acceptPlc" name="chck_acceptPlc">
        <label class="form-check-label check_label" for="chck_acceptPlc">He leído y acepto</label>
      </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary btn-sml" (click)="privacyPolicies($event, 'reject')">Rechazar</button>
      <button type="button" class="btn btn-info btn-sml" id="btn_accept" (click)="privacyPolicies($event,'accept')" >Aceptar</button>
    </div>

  </div>

</div>
