<div class="login" style="background-image: url('assets/images/background/Landing%20SMC.png')">

  <div align="right"><img src="assets/images/logo_eprocess.png"></div>
  <h2 class="active"> sign in </h2>

  <form>
    <input type="text" class="text" name="username" [(ngModel)]="user">
    <b> <span style="color: black;">username</span></b>
    <br>

    <br>

    <input type="password" class="text" name="password" [(ngModel)]="password">
    <b><span style="color: black">password</span></b>
    <br>

    <input type="checkbox" id="checkbox-1-1" class="custom-checkbox" />

    <button class="signin" id="btnlogin">
      Sign In
    </button>

  </form>

</div>
