
<div *ngIf="stabListActive; else establModif">
  <!-- BUTTON SHOW-DISABLE -->
  <button id="btnNew" mat-raised-button color="primary">
    <label id="btnNew">New</label>
  </button>

  <!-- CONTENT TABLE -->
  <div class="mat-elevation-z8" id="divTable">

    <mat-form-field>
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Filter Data" #input>
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" matSort>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="15%"> Action </th>
        <td mat-row *matCellDef="let row" width="15%">
          <button id="btnModify" mat-raised-button color="primary" value="{{row.id_establishment}}"><mat-icon id="btnModify" value="{{row.id_establishment}}">edit</mat-icon></button>
          <button id="btnDelete" mat-raised-button color="warn" value="{{row.id_establishment}}"><mat-icon id="btnDelete" value="{{row.id_establishment}}">delete_forever</mat-icon></button>
        </td>
      </ng-container>

      <!-- ID Column -->
      <ng-container matColumnDef="idestablishment">
        <th mat-header-cell *matHeaderCellDef mat-sort-header width="5%"> ID </th>
        <td mat-cell *matCellDef="let row" width="5%"> {{row.id_establishment}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let row"> {{row.description}} </td>
      </ng-container>

      <!-- dni Column -->
      <ng-container matColumnDef="dni">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> dni </th>
        <td mat-cell *matCellDef="let row"> {{row.dni}} </td>
      </ng-container>

      <!-- Addresss Column -->
      <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Address </th>
        <td mat-cell *matCellDef="let row"> {{row.address}} </td>
      </ng-container>

      <!-- Email Column -->
      <ng-container matColumnDef="mail">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> E-mail </th>
        <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
      </ng-container>

      <!-- Phone Column -->
      <ng-container matColumnDef="phone">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
        <td mat-cell *matCellDef="let row"> {{row.phone}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="updateAndDelete(row)"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

      <!-- Row shown when there is no matching data. -->
      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>

<!-- patient_load id_cat_patient_load -->

<ng-template #establModif>
  <!-- CONTENT REGISTER, UPDATE, DELETE-->
  <div class="container" id="divNew">
    <mat-grid-list cols="2" rowHeight="90px">

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Customer</mat-label>
          <mat-select [(value)]="stablishmentmodel.idCustomer">
            <mat-option *ngFor="let customer of customers" value="{{customer.id_customer}}">{{customer.description}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 50 characters" appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput #input maxlength="50" placeholder="" [(ngModel)]="stablishmentmodel.description">
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>Dni</mat-label>
          <input matInput #input maxlength="10" placeholder="" [(ngModel)]="stablishmentmodel.dni">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 250 characters" appearance="fill">
          <mat-label>Url Hash</mat-label>
          <input matInput #input maxlength="250" placeholder="" [(ngModel)]="stablishmentmodel.urlhash" readonly>
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 100 characters" appearance="fill">
          <mat-label>Address</mat-label>
          <input matInput #input maxlength="100" placeholder="" [(ngModel)]="stablishmentmodel.address">
          <mat-hint align="end">{{input.value?.length || 0}}/100</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput #input maxlength="10" placeholder="" [(ngModel)]="stablishmentmodel.phone">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 100 characters" appearance="fill">
          <mat-label>E-mail</mat-label>
          <input matInput #input maxlength="100" placeholder="" [(ngModel)]="stablishmentmodel.mail">
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Country</mat-label>
          <mat-select [(value)]="sltValues.countries">
            <mat-option *ngFor="let country of collector.countries" value="{{country.id}}" (click)="switchJsonParse(countries,country.id,'provinces','false', '')">{{country.value}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Province</mat-label>
          <mat-select [(value)]="sltValues.provinces">
            <mat-option *ngFor="let province of collector.provinces" value="{{province.id}}" (click)="switchJsonParse(countries,province.id,'cities','false', '')">{{province.value}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>City</mat-label>
          <mat-select [(value)]="sltValues.cities">
            <mat-option *ngFor="let city of collector.cities" value="{{city.id}}" (click)="switchJsonParse(countries,city.id,'','false', '')">{{city.value}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Type</mat-label>
          <mat-select [(value)]="sltValues.idType">
            <mat-option value="1">Clinic</mat-option>
            <mat-option value="2">Company</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Patient Load</mat-label>
          <mat-select [(value)]="stablishmentmodel.patientLoad">
            <mat-option value="1">True</mat-option>
            <mat-option value="0">False</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>
      
      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Data Upload Pat</mat-label>
          <mat-select [(value)]="sltValues.idCatPatientLoad">
            <mat-option *ngFor="let data of collector.dataUploadPat" value="{{data.id}}">{{data.value}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field appearance="fill">
          <mat-label>Patient Dt Val Proc</mat-label>
          <mat-select [(value)]="sltValues.idCatPatientVal">
            <mat-option *ngFor="let data of collector.patientDtValProc" value="{{data.id}}">{{data.value}}</mat-option>
          </mat-select>
          <mat-hint align="end"></mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 50 characters" appearance="fill">
          <mat-label>Contact Name</mat-label>
          <input matInput #input maxlength="50" placeholder="" [(ngModel)]="stablishmentmodel.contactName">
          <mat-hint align="end">{{input.value?.length || 0}}/50</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field hintLabel="Max 10 characters" appearance="fill">
          <mat-label>Contact Phone</mat-label>
          <input matInput #input maxlength="10" placeholder="" [(ngModel)]="stablishmentmodel.contactPhone">
          <mat-hint align="end">{{input.value?.length || 0}}/10</mat-hint>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>
        <button id="btnConfirm" [disabled]="!btnConfirmActive" class="example-label" mat-raised-button color="{{btnStabActions.color}}" name="{{btnStabActions.name}}" value="{{btnStabActions.value}}">
          <data id="btnConfirm" value="{{btnStabActions.value}}">{{btnStabActions.name}}</data>
        </button>
        <button class="example-label" mat-raised-button color="warn" (click)="show()">Cancel</button>
      </mat-grid-tile>

    </mat-grid-list>
  </div>
</ng-template>
