<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">

      <!-- <button type="button" id="btn_sidebarStt" class="navbar-btn" (click)="sidebarStatus()">
          <span class="btn_SSttSpan span_call"></span>
          <span class="btn_SSttSpan span_call"></span>
          <span class="btn_SSttSpan span_call"></span>
      </button> -->
      <div (click)="sidebarStatus()" type="button">
        <span *ngIf="sidebarStt" class="material-icons" style="color: red;">
          menu_open
        </span>
        <span  *ngIf="!sidebarStt" class="material-icons"  style="color: rgb(80, 94, 242);">
          menu
        </span>
      </div>

      <ul class="">
        <li class="nav-item" *ngIf="session">
            <a class="nav-link" style="cursor: pointer;" (click)="signOut()">Salir</a>
        </li>
      </ul>

  </div>
</nav>
