<div class="main">

  <!-- <div class="curtain"></div> -->

  <div class="container">
    <section>
      <div class="middle">
        <div id="login">

          <form >

            <fieldset class="">

              <div class="btn_login">
                <button class="btn btn-sml btn_google" (click)="signInWithGoogle()" >Acceder con Google </button>
              </div>

              <app-mdl-otp [parameters]="intPhoneCodes" (RequestCodeSMS)="requestCodeSMS($event)" (SignInOTP)="signInOTP($event)"(CloseModalOtp)="closeModalOtp()" ></app-mdl-otp>

              <app-mdl-prvplc (PrivacyPolicies)="privacyPolicies($event)" (CloseModalPP)="closeModalPP()"></app-mdl-prvplc>

              <div style="padding: 25px 0px 25px 0px;">
                <hr style="width:25%; display: inline-block; background-color: #ffffff; margin: 0px 0px 3px 0px;"> <samp style="color: #ffffff; display: inline-block; margin: 0px 10px 0px 10px;">O</samp> <hr style="width:25%; display: inline-block; background-color: #ffffff; margin: 0px 0px 3px 0px;">
              </div>

              <p style="color: #ffffff; font-size: 14px;">Si es usuario letjet</p>

              <div class="form__group field">
                <input type="text" class="form__field" placeholder="Usuario" name="usr" id='usr' #usr="ngModel" [(ngModel)]="authForm.name" required />
                <label for="usr" class="form__label">Usuario</label>
              </div>

              <div class="form__group field">
                <input type="password" class="form__field" placeholder="Contraseña" name="password" id='password' #password="ngModel" [(ngModel)]="authForm.password" required />
                <label for="password" class="form__label">Contraseña</label>
              </div>

              <div class="btn_login">
                <button class="btn btn-info btn-sml btn_auth" id="btn_auth" (click)="auth()">Entrar</button>
              </div>

            </fieldset>

          </form>

        </div>

        <div class="logo">
          <img src="../../../assets/img/logo.png" alt="logo" style="padding: 0px 70px;" >
        </div>

      </div>

      <div class="team" >
        <a href="#" target="_blank" style="display: inline-block;"><img src="../../../assets/img/medical_team.png" alt="" style="width: 180px;"></a>
        <a href="#" target="_blank" style="display: block;">Conoce a nuestro equipo</a>
      </div>
    </section>

      <div class="undisplay" id="messageContainer" style="margin-top: 50px;" >
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <div class="alert">
              <span class="closebtn" (click)="unDisplay()" >&times;</span>
              <span id="loginMessage"></span>
            </div>
          </div>
        </div>
      </div>

  </div>

</div>
