<div id="contentPatient">

  <div style="align-content: right; float: right;">
    <button class="btn btn-primary btn-lg" style="background-color: #7884d4; width: 160px; margin-right: 20px;"
      (click)="openModalPatient()">
      Nuevo Paciente</button>

    <!-- The Modal -->
    <div id="modalPatient" class="modal">

      <!-- Modal content -->
      <div class="modal-content">

        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel"><b>CREAR NUEVO PACIENTE</b></h2>
          <span class="close" (click)="closeModalPatient()">×</span>
        </div>

        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="recipient-name" class="col-form-label">Dni:</label>
              <input type="text" class="form-control" id="dni">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Nombre:</label>
              <input type="text" class="form-control" id="nombre">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Apellido:</label>
              <input type="text" class="form-control" id="apellido">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">N° Historia Clínica:</label>
              <input type="number" class="form-control" id="no_historia">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Fecha Nacimiento:</label>
              <input type="date" class="form-control" id="fecha_n">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Correo:</label>
              <input type="email" class="form-control" id="correo">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Dirección:</label>
              <input type="text" class="form-control" id="direccion">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Teléfono:</label>
              <input type="number" class="form-control" id="telefono">
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Género</label>
              <select  id="genero">
                <option value=""></option>
                <option value="Masculino">Masculino</option>
                <option value="Femenino">Femenino</option>
              </select>
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Pais:</label>
              <select  id="pais">
                <option value=""></option>
                <option value="1">España</option>
              </select>
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Lenguaje:</label>
              <select  id="lenguaje">
                <option value=""></option>
                <option value="Español">Español</option>
                <option value="Ingles">Ingles</option>
              </select>
            </div>

            <div class="form-group">
              <label for="message-text" class="col-form-label">Estado Civil:</label>
              <select  id="estadoc">
                <option value=""></option>
                <option value="Soltero">Soltero</option>
                <option value="Casado">Casado</option>
              </select>
            </div>

          </form>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="closeModalPatient()">Cerrar</button>
          <button type="button" class="btn btn-primary" style="background-color: #7884d4;"
            (click)="createPatient()">Crear Paciente</button>
        </div>
      </div>

    </div>
  </div>

  <section>
    <table class="table">

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th>DNI</th>
          <th>NOMBRE</th>
          <th>APELLIDO</th>
          <th>FECHA Na.</th>
          <th>E MAIL</th>
          <th>DIRECCIÓN</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let patient of patients">
          <th scope="row">{{patient.idPatient}}</th>
          <td>{{patient.dni}}</td>
          <td>{{patient.name}}</td>
          <td>{{patient.lastname}}</td>
          <td>{{patient.birthDate}}</td>
          <td>{{patient.mail}}</td>
          <td>{{patient.address}}</td>
        </tr>
      </tbody>

    </table>
  </section>

</div>

