<div class="tittle">
  <h3 class="tittle">SIGNATURE AT HOME</h3>
</div>

<div id="divTable" class="div-mat-table">
  <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef> <b>Id</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.idConsent}} </mat-cell>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="procedure">
      <mat-header-cell *matHeaderCellDef> <b>Procedure</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.procedureName}} </mat-cell>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="specialty">
      <mat-header-cell *matHeaderCellDef> <b>Specialty</b> </mat-header-cell>
      <mat-cell *matCellDef="let element"> {{element.specialtyName}} </mat-cell>
    </ng-container>


    <ng-container matColumnDef="action">
      <mat-header-cell *matHeaderCellDef> <b>Action</b> </mat-header-cell>
      <mat-cell *matCellDef="let element">
        <button id="btnStart" mat-raised-button color="primary"
          value="{{element.idConsent}};{{element.idSpecialist}};{{element.catSpecialty.id}};{{element.catProcess.id}};{{element.infoOtp}};{{element.procedureName}};{{element.specialtyName}}">
          <mat-icon id="btnStart"
            value="{{element.idConsent}};{{element.idSpecialist}};{{element.catSpecialty.id}};{{element.catProcess.id}};{{element.infoOtp}};{{element.procedureName}};{{element.specialtyName}}">
            open_in_new</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" class="cell"></mat-row>
  </mat-table>

</div>

<div id="divLayout" style="display: none;">

  <!-- 1 Pantalla de presentacion -->
  <div class="container" style="display: block;" id="layout1">
    <mat-card>
      <h1><b>PRESENTATION</b></h1>
      <p>
        You <b> {{session.name}} </b>, have accessed Smart Consent by indication of <b> {{Establishment.description}}
        </b>
        in order to
        read and visualize the
        <b> {{pocedure.procedureName}} </b> medical procedure and sign or
        reject the corresponding Informed Medical Consent. In the following
        screens must read and / or view the explanation of the prescribed medical procedure
        by your practitioner, please follow the instructions indicated on each page, one
        Once the presentation is completed, you must indicate whether you accept or reject the procedure
        prescribed, by pressing the corresponding button, once you have selected the
        option of acceptance or rejection, you will receive via SMS to the mobile phone number that
        you provided your medical center with a unique authentication key so that you
        sign and validate the option selected by you.
      </p>

      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnNext1">
          <label id="btnNext1">Accept</label>
          <mat-icon id="btnNext1">skip_next</mat-icon>
        </button>
      </div>

    </mat-card>
  </div>

  <!-- 2 Pantalla de presentacion del procedimiento -->
  <div class="container" style="display: none;" id="layout2">
    <mat-card>
      <h1><b>PRESENTATION OF THE PROCEDURE</b></h1>

      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnConsent">
          <mat-icon>remove_red_eye</mat-icon>
          <label id="btnConsent">View Text</label>
        </button>
      </div>

      <p>
        Select to see the text of the procedure to read in detail what is prescribed by your doctor, in case of
        procedures that incorporate explanatory videos of the same, to see this video you must indicate that you have
        read and
        including the prescribed procedure, by checking the enabled check box.
      </p>

      <span  class="link">
        <input class="link" type="checkbox" name="test" (change)="testCheck($event)" />
        <span  id="link" style="color:#506afc">I have read and accept the procedure shown in the PDF</span>
      </span >

      <div class="text-center" id="buttonDisabled">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnBack2">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnBack2">Back</label>
        </button>
      </div>

      <div class="text-center" id="buttonEnabled" style="display: none;">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnBack2">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnBack2">Back</label>
        </button>

        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnNext2">
          <label id="btnNext2">Next</label>
          <mat-icon>skip_next</mat-icon>
        </button>
      </div>
    </mat-card>
  </div>

  <!-- 3 Pantalla de video del procedimiento -->
  <div class="container" style="display: none;" id="layout3">
    <mat-card>
      <h1><b>VIDEO OF THE PROCEDURE</b></h1>

      <!-- <video controls class="video">
        <source src="{{video}}" type="video/mp4">
      </video> -->

      <video controls class="video">
        <source [src]="video">
      </video>


      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnBack3">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnBack3">Back</label>
        </button>

        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnNext3">
          <mat-icon>skip_next</mat-icon>
          <label id="btnNext3">Next</label>
        </button>
      </div>
    </mat-card>
  </div>

  <!-- 4 Pantalla de firma del consentimiento -->
  <div class="container" style="display: none;" id="layout4">
    <mat-card>
      <h1><b>SIGNATURE OF CONSENT</b></h1>
      <p>
        Next, you must indicate whether you accept or reject the informed consent of the procedure prescribed by your
        doctor, remember to have at hand the mobile phone whose number you provided to your medical center, since
        will send the signature key via SMS.
      </p>

      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnRefuse">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnRefuse">Refuse consent</label>
        </button>

        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnAcceptConsent">
          <mat-icon>skip_next</mat-icon>
          <label id="btnAcceptConsent">Accept Consent</label>
        </button>
      </div>
    </mat-card>
  </div>

  <!-- Pantalla de proteccion de datos personales -->
  <div class="container" style="display: none;" id="layoutP">
    <mat-card>
      <h1><b>PERSONAL DATA PROTECTION</b></h1>
      <p>
        In accordance with the provisions of the General Data Protection Regulation, we inform you of the treatment that
        We make your personal data: Responsible for the treatment: [centro_de_salud.nombre], with CIF no.
        [centro_de_salud.id], and address at [centro_de_salud.direccion], of [city.name]. Contact details of
        Data Protection Officer: Vitoria-Gasteiz, Álava email: dpo@e-processmed.com Purpose of the
        treatment: the personal data that we have about you, including health data, and those that you will provide us
        with
        occasion of this informed consent through this computer application, consisting of your signature
        biometric and voice recording, will be used in order to manage the provision of consent
        reported in electronic format in accordance with the provisions of Law 41/2002, of November 14, basic
        regulating patient autonomy and rights and obligations regarding information and documentation
        clinical and concordant regulations. Personal data provided by the patient: the personal data that we
        ha
        provided and those that you will provide us with below, are those necessary for your provision of consent
        from
        in such a way that he is obliged to provide them so, otherwise, we will not be able to process it. Recipients
        from
        the data: your personal data will not be communicated to third parties unless it is necessary for compliance
        from
        legal obligations. Likewise, we use third-party services that, acting as data managers,
        may have access to your personal data, having signed with them the corresponding contract of
        treatment
        of data in accordance with the provisions of article 28.3 of the RGPD. In this sense, we inform you that this
        application called "Smart Consent" has been developed by E PROCESS MED, S.L., with CIF no. B01564764 and
        address at calle Albert Einstein, nº 15 - Of. 207 BIC Araba, C.P. 01510 from Vitoria (Álava), acting as
        in charge of the treatment in order to manage the provision of informed consent and services
        required
        for it. Legitimation of the treatment: the legal or legal basis for the treatment of your personal data is
        the application of pre-contractual measures through you and, where appropriate, the execution of the contract in
        which you.
        it is
        part. Likewise, the legal basis for the provision of informed consent is compliance with the
        Obligations contemplated in Law 41/2002, of November 14, basic regulating the autonomy of the patient
        Y
        of rights and obligations regarding information and clinical documentation. Period of conservation of the
        data:
        We will keep your personal data for the period in which the treatment is provided and, once it is finished,
        during the periods necessary to comply with legal obligations. In this sense and, in relation to its
        story
        clinic, it will be kept for a minimum period of five years from discharge, as established by Law 41/2002,
        of November 14, basic regulation of the autonomy of the patient and of rights and obligations regarding
        information and clinical documentation. Rights of the interested party regarding the processing of their data:
        you can
        request access to your personal data or, where appropriate, its rectification, deletion, limitation of
        treatment, your opposition to it, as well as your right to the portability of personal data, for which
        You must send a written request addressed to [centro_de_salud.nombre], with CIF number [centro_de_salud.id], and
        Address at [centro_de_salud.direccion], of [city.nombre], accompanying in any case a photocopy of your ID. On
        In any case, you can file a claim with the Spanish Data Protection Agency, either through your
        electronic office or at his address, at calle Jorge Juan, nº 6, C.P. 28001 of Madrid.
      </p>

      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnProt">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnProt">Accept</label>
        </button>
      </div>
    </mat-card>
  </div>

  <!-- Pantalla de datos del pdf -->
  <div class="container" style="display: none;" id="layoutTexto">
    <mat-card>
      <h1><b>CONSENT TEXT</b></h1>
      <p *ngFor="let item of structureOrder">
        {{item.information}}
      </p>

      <div class="text-center">
        <button mat-raised-button color="primary" style="background-color: #506afc;" id="btnTexto">
          <mat-icon>skip_previous</mat-icon>
          <label id="btnTexto">Back</label>
        </button>
      </div>
    </mat-card>
  </div>

  <!-- Vista de confirmación -->
  <div id="confirSect" style="display: none; width: 50%; margin-left: 25%; text-align: center;">
    <mat-card>
      <section id="confirCodSect">
        <mat-form-field appearance="fill">
          <mat-label>Confirmation code</mat-label>
          <input matInput id="inputOtp" [(ngModel)]="infoOtp">
        </mat-form-field>
        <button id="btnConfirCod" mat-raised-button color="primary">Confirm</button>
      </section>
      
      <section id="btnSeePdf" style="display: none;">
        <button id="btnSeePdf" mat-raised-button color="primary">See Pdf</button>
      </section>
    </mat-card>
  </div>

  <!-- Vista de pdf -->
  <div id="pdfViewSection" style="display: none;">
    <mat-card>
      <iframe src={{urlPdf}}></iframe>
    </mat-card>
  </div>

</div>
