<!-- Page Content -->
<div id="content">

  <app-modal-info-blockchaind [consentModal2]="consentModal2" (click)="closeModalPreview()"></app-modal-info-blockchaind>

  <section>

    <div class="col-md-12 text-center" style="padding:3px;text-align: justify;">
      <h1>CONSENTIMIENTOS</h1>
      <div class="row" style="margin-top: 30px;">

        <div class="col-md-6 ">
          <label><b>LISTADO DE PACIENTES</b></label>

          <table class="table table-bordered">
            <tr class="list-group"  >
              <td  *ngFor="let patient of patients" id="{{patient.idPatient}}" name="idpatient"  active="false"  group="lista">{{patient.name}} {{patient.lastname}}</td>
            </tr>
          </table>

        </div>

        <div class="col-md-6">
          <!-- <ul class="list-group" *ngFor="let patient of patients" name="idpatient">
                        <li class="list-group-item" (click)="listClick($event)">{{patient.idPatient}} {{patient.name}} {{patient.lastname}}</li>
                    </ul> -->

          <label for="">Especialista</label>
          <select class="form-select"  name="iduser">
            <option value=""></option>
            <option class="form-select" *ngFor="let user of users" value="{{user.usr_id}}"> {{user.name}}</option>
          </select>

          <label for="">Especialidad</label>
          <select class="form-select"  name="idspecialty">
            <option value=""></option>
            <option class="form-select" *ngFor="let specty of specialty" value="{{specty.idSpecialty}}"> {{specty.name}}</option>
          </select>

          <label for="">Procedimiento</label>
          <select class="form-select" name="idprocess">
            <option value=""></option>
            <option class="form-select" *ngFor="let proceso of process" value="{{proceso.idProcess}}"> {{proceso.name}}</option>
          </select>

        </div>

        <button class="btn btn-primary btn-lg" (click)="createConsent()"
          style="background-color: #7884d4; width: 200px; margin-right: 20px;">Crear</button>
        <button class="btn btn-primary btn-lg" style="background-color: #7884d4; width: 200px;"><a
            href="https://app1.e-processmed.com/smartConsentWeb/static/CDS/B01564764/eCS/B01564764/41062/ECS-6797.pdf"
            target="_blank">Ver PDF</a></button>
      </div>
    </div>

  </section>
</div>
