
<button type="button" class="close" aria-label="Close" (click)="closeModal()">
  <span aria-hidden="true">&times;</span>
</button>
<p class="text-center" style="color: #5288ec; font-size: 14px;">Inicie sesión para continuar</p>
<div class="text-center">
  <img alt="homepage" src="assets/images/befitting/icon.png"> 
</div>

<div *ngIf="msg==' '" class="bg-danger p-10 text-white">{{ msg }}</div>
<mat-form-field appearance="legacy">
  <mat-label>Usuario</mat-label>
  <input matInput type="text" [(ngModel)]="loginForm.userName" placeholder="Usuario" name="usr" id='usr'  required >
</mat-form-field>
<mat-form-field appearance="standard">
  <mat-label>Contraseña</mat-label>
  <input matInput type="password" [(ngModel)]="loginForm.pass" placeholder="Contraseña" name="password" id='password' required  /> 
</mat-form-field>

<div style="border-radius: 5px;">
    <button mat-raised-button style="background: #00669A; color: #fff; " class="btn-block btn-lg m-t-20 m-b-20" type="button" (click)="login()">Iniciar sesión</button>
</div>