<div id="contentPatient">

  <section>

    <table class="table">

      <thead>
        <tr>
          <th scope="col">ID</th>
          <th>NOMBRE</th>
          <th>DIRECCIÓN</th>
          <th>TELÉFONO</th>
          <th>E MAIL</th>
          <th>SIGLAS</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let stba of stablishment">
          <th scope="row">{{stba.idEstablishment}}</th>
          <td>{{stba.name}}</td>
          <td>{{stba.address}}</td>
          <td>{{stba.phone}}</td>
          <td>{{stba.mail}}</td>
          <td>{{stba.acronym}}</td>
        </tr>
      </tbody>

    </table>

  </section>

</div>

